body{
    width: 60%;
    margin-left: 20%;
    margin-right:20%;
    margin: 20px auto;
    border: solid 20px #BAC0C3;
    padding: 20px;
     font-family: Source Sans Pro;
}

h3{
   
    font-size: 20px;
    color: #0788C4;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
h1{
   
    font-size: 36px;
    font-weight: 800;
    
}

hr.style1{
    margin-top: 10px;
	border-top: 1px solid #8c8b8b;
    
}

p{
    font-size: 18px;
    font-weight: 400;
}
.quote{
    border-left: 5px solid #BAC0C3;
    padding-left: 5px;
}